<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.dao.TbOrderDao">


    <select id="queryInfoByOpenId" resultType="map">
        SELECT
            c.title,
            b.good_status,
            c.price,
            b.post_fee,
            b.logistics_name,
            b.logistics_code,
            b.deliver_time,
            b.evaluate_status
        FROM
            tb_order a
                JOIN tb_order_detail b ON a.id = b.tb_order_id
                JOIN tb_sku c ON b.sku_id = c.id
        WHERE
            a.openId = #{openId}
        --带付款的订单
        <if test="flag=='1'.toString()">
            and b.good_status='0'
        </if>
        --待收货订单
        <if test="flag=='2'.toString()">
            and b.good_status in ('1','3')
        </if>
          --待评价订单
        <if test="flag=='3'.toString()">
            and b.good_status in ('1','3') and b.evaluate_status='0'
        </if>
    </select>

    <select id="selectPayingOrder" resultType="com.kangkang.store.entity.TbOrder">
        select * from tb_order a where a.order_id=#{openId} and a.order_status=#{orderStatus}
    </select>

    <select id="selectSkuInfo" resultType="com.kangkang.store.entity.TbSku">
        select * from tb_sku a where a.id=#{skuId}
    </select>



</mapper>