<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.dao.TbShoppingCarDao">

    <select id="selectSkuIds" resultType="long">
        select sku_id from tb_shopping_car where  open_id=#{openId}
    </select>


    <select id="selectShoppingInfo"  resultType="com.kangkang.store.dtoObject.TbShoppingDTO">
        SELECT a.id,b.image, b.price,a.count, a.specifications,b.title,b.status as goodStatus
        from tb_shopping_car a
                 JOIN tb_sku b on a.sku_id = b.id
        where a.open_id = #{openId}
        <if test="ids!=null and ids.size()!=0">
            and a.id in
            <foreach collection="ids" item="skuId" index="index" open="(" close=")" separator=",">
                #{skuId}
            </foreach>
        </if>
    </select>
</mapper>