<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.dao.TbStockDao">



    <select id="queryStockById" resultType="integer">
        select (stock-1) stock from tb_stock where tb_sku_id=#{skuId}
    </select>


    <update id="updateStockById">
        update tb_stock set stock=stock-1 where tb_sku_id=#{skuId}
    </update>
</mapper>