<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.file.dao.TbQuartzDao">


    <select id="selectAll" resultType="com.kangkang.manage.entity.TbQuartz">
        select * from tb_quartz where isOpen=1
    </select>
</mapper>